Django==4.2.24
mysqlclient==1.4.6
django-extensions==4.1
pandas==2.3.2
django-cors-headers==4.9.0

# Adds Django template filters for subtraction, etc.
django-mathfilters==1.0.0

## The following requirements were added by pip freeze:
asgiref==3.9.2
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2023.3

# Moved to `apt-get` package in Dockerfile to avoid OpenShift build issues.
#numpy==2.0.2

gunicorn==23.0.0
whitenoise==6.11.0
