{% load mathfilters %}

{% include "main/header.html" %}
{% if searchError %}
<tr>
    <td>
        <p>{{ searchError }}</p>
    </td>
</tr>
{% else %}
{% if searchString and not topics and not items %}
<tr>
    <td>
        <p>No matches for "{{ searchString }}" were found.</p>
    </td>
</tr>
{% endif %}

{% if topics %}
<tr>
    <td>
        <p>
            Topics containing "{{ searchString }}",
            sorted alphabetically:<br/>
            (Each topic contains items about the topic.)
        </p>

        <p>
            Results

            1-{{ topics|length }}

            of {{ topicsTotalCount }}

            {% if topicsTotalCount > topics|length %}
            <a href="/search?moreTopics=0&searchString={{ searchString|urlencode }}">
                More...</a>
            {% endif %}
        </p>
    </td>
</tr>

<tr>
    <td>
        <p>
            {% for topic in topics %}
            <a href="/search?topicId={{ topic.id }}&searchString={{ searchString|urlencode }}&moreItems=0">
                {{ topic }}</a>
            (Contains {{ topic.itemCount }} items.)
            <br/>
            {% endfor %}
        </p>
    </td>
</tr>
{% else %}
{% if items %}
<tr>
    <td>
        <p>
            No matching topic areas were found. See matching items below.
            <br/>
            <br/>
        </p>
    </td>
</tr>
{% endif %}
{% endif %}

{% if items %}
<tr>
    <td>
        <p>
            Items containing "{{ searchString }}",
            sorted by date:<br/>
            (To print pages, select an item, choose PDF format, and print
            from the window containing the pages.)</p>

        <p>
            Results

            1-{{ items|length }}

            of {{ itemsTotalCount }}

            {% if itemsTotalCount > items|length %}
            <a href="/search?moreItems=0&searchString={{ searchString|urlencode }}&topicId={{ topic.id }}">
                More...</a>
            {% endif %}
        </p>
    </td>
</tr>

<tr>
    <td>
        {% for item in items %}
        <p>
            {% with itemUrl=item.url %}
            {% if itemUrl %}
            <a href="{{ itemUrl }}" target="umdl_regntpro">{{ item.item }}</a><br/>
            {% else %}
            {{ item.item }}<br/>
            <em>(This item is not yet available online.)</em><br/>
            {% endif %}
            {% endwith %}
            {% if item.dateCalc %}
            Date: {{ item.dateCalc }}
            <br/>
            {% else %}
            {% comment "Intentionally left blank" %}{% endcomment %}
            {% endif %}
            Volume:
            {% if not item.volume %}
                [no volume];
            {% else %}
                {{ item.volume.title|default_if_none:"[untitled volume]" }};
            {% endif %}
            Page: {{ item.page|default_if_none:"n/a" }}
            <br/>
            Found in topic area:
            <a href="/search?topicId={{ item.item.topic.id }}&searchString={{ searchString|urlencode }}&moreItems=0">
                {{ item.item.topic }}</a>
            {% for itemNote in item.item.itemNotes.all %}
            {% if itemNote.type %}
            <br/>
            {{ itemNote.type }}:
            {% if itemNote.text %}
            {{ itemNote.text }}{% if itemNote.referencedTopic %},
            {% endif %}
            {% endif %}
            {% if itemNote.referencedTopic %}
            <a href="/search?topicId={{ itemNote.referencedTopic.id }}">
                {{ itemNote.referencedTopic }}</a>
            {% endif %}
            <br/>
            {% endif %}
            {% endfor %}
        </p>
        {% endfor %}
    </td>
</tr>
{% else %}
{% if topics %}
<tr>
    <td>
        <p>
            No matching items were found. See matching topics above.
            <br/>
            <br/>
        </p>
    </td>
</tr>
{% endif %}
{% endif %}
{% endif %}
{% include "main/footer.html" %}
