{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<table border=0 cellspacing=0 cellpadding=3 width="100%">
    <tr>
        <td>

            <form method="get">
                <label for="searchString">Enter the text to search for:</label>
                <input type="text" name="searchString" id="searchString"
                       value="{{ searchString }}">
                <input type="submit" value="Search">
            </form>
        </td>
    </tr>

    {% if not topics and not itemPages %}
    <tr>
        <td>
            <p>No matches for "{{ searchString }}" were found.</p>
        </td>
    </tr>
    {% endif %}

    {% if topics %}
    <tr>
        <td>
            <p>Topics containing "{{ searchString }}",
                sorted alphabetically:<br/>
                (Each topic contains items about the topic.)</p>

            <p>Results 1-{{ topics|length }} of {{ topicsTotalCount }}
                {% if topicsTotalCount > topics|length %}
                <a href="?moreTopics=0&searchString={{ searchString|urlencode }}">
                    More...</a>
                {% endif %}
            </p>

        </td>
    </tr>

    <tr>
        <td>
            <p>
                {% for topic in topics %}
                <a href="?topicId={{ topic.id }}&searchString={{ searchString|urlencode }}">
                    {{ topic }}</a>
                (Contains {{ topic.itemCount }} items.)
                <br/>
                {% endfor %}
            </p>
        </td>
    </tr>
    {% endif %}

    {% if itemPages %}
    <tr>
        <td>
            <p>
                {% if topic %}
                {% if searchString %}
                Return to search results for
                "<a href="?searchString={{ searchString|urlencode }}"
            >{{ searchString }}</a>"<br/>
                <br/>
                {% endif %}
                Items contained in topic area "{{ topic }}",
                {% else %}
                Items containing "{{ searchString }}",
                {% endif %}
                sorted by date:<br/>
                (To print pages, select an item, choose PDF format, and print
                from the window containing the pages.)</p>

            {% if topic %}
            <p>
                <!-- Notes from this topic -->
                {% for topicNote in topic.topicNotes.all %}
                {{ topicNote.type }}:
                {% if topicNote.text %}
                {{ topicNote.text }}
                {% if topicNote.referencedTopic %},{% endif %}
                {% endif %}
                {% if topicNote.referencedTopic %}
                <a href="?topicId={{ topicNote.referencedTopic.id }}">
                    {{ topicNote.referencedTopic }}</a>
                {% endif %}
                <br/>
                {% endfor %}

                <!-- References from notes in other topics -->
                {% for topicNote in topic.topicNoteReferences.all %}
                Referenced by:
                <a href="?topicId={{ topicNote.topic.id }}">
                    {{ topicNote.topic }}</a> ({{ topicNote.type }})
                <br/>
                {% endfor %}
            </p>
            {% endif %}

            <p>Results 1-{{ itemPages|length }} of {{ itemPagesTotalCount }}
                {% if itemPagesTotalCount > itemPages|length %}
                <a href="?moreItems=0&searchString={{ searchString|urlencode }}">
                    More...</a>
                {% endif %}
            </p>
        </td>
    </tr>

    <tr>
        <td>
            {% for itemPage in itemPages %}
            <p>
                {% with itemPageUrl=itemPage.url %}
                {% if itemPageUrl %}
                <a href="{{ itemPageUrl }}">{{ itemPage.item }}</a><br/>
                {% else %}
                {{ itemPage.item }}<br/>
                <em>(This item is not yet available online.)</em><br/>
                {% endif %}
                {% endwith %}
                Date: {{ itemPage.dateCalc|default_if_none:"n/a" }}<br/>
                Volume: {{ itemPage.volume.title|default_if_none:"n/a" }};
                Page: {{ itemPage.page|default_if_none:"n/a" }}
                {% if not topic %}
                <br/>
                Found in topic area:
                <a href="?topicId={{ itemPage.item.topic.id }}&searchString={{ searchString|urlencode }}">
                    {{ itemPage.item.topic }}</a>
                {% endif %}
            </p>
            {% endfor %}
        </td>
    </tr>
    {% endif %}
</table>