{% load mathfilters %}

{% include "main/header.html" %}
<tr>
    <td>
        <p>
            Return to search results for "<a
                href="/search?searchString={{ searchString|urlencode }}"
        >{{ searchString }}</a>".
        </p>
    </td>
</tr>
{% if not items %}
<tr>
    <td>
        <p>
            No matches for "{{ searchString }}" were found.
        </p>
    </td>
</tr>
{% else %}
<tr>
    <td>
        <p>
            Items contained in topic area "{{ topic }}",
            sorted by date:<br/>
            (To print pages, select an item, choose PDF format, and print
            from the window containing the pages.)
        </p>

        <p>
            <!-- Notes from this topic -->
            {% for topicNote in topic.topicNotes.all %}
            {% if topicNote.type %}
            {{ topicNote.type }}:
            {% if topicNote.text %}
            {{ topicNote.text }}{% if topicNote.referencedTopic %},
            {% endif %}
            {% endif %}
            {% if topicNote.referencedTopic %}
            <a href="/search?topicId={{ topicNote.referencedTopic.id }}">
                {{ topicNote.referencedTopic }}</a>
            {% endif %}
            <br/>
            {% endif %}
            {% endfor %}

            <!-- References from notes in other topics -->
            {% for topicNote in topic.topicNoteReferences.all %}
            {% if topicNote.type %}
            Referenced by topic:
            <a href="/search?topicId={{ topicNote.topic.id }}">
                {{ topicNote.topic }}</a> ({{ topicNote.type }})
            <br/>
            {% endif %}
            {% endfor %}

            <!-- References from item notes -->
            {% for itemNote in topic.itemNoteReferences.all %}
            {% if itemNote.type %}
            Referenced by item in topic:
            <a href="/search?topicId={{ itemNote.item.topic.id }}">
                {{ itemNote.item.topic }}</a> ({{ itemNote.type }})
            <br/>
            {% endif %}
            {% endfor %}
        </p>

        <p>
            {% if moreItems > 0 %}
            <a href="/search?moreItems={{ moreItems|sub:maxItems }}&searchString={{ searchString|urlencode }}&topicId={{ topic.id }}">
                &lt;Prev</a>
            {% endif %}

            Results

            {{ moreItems|add:1 }}-{{ items|length|add:moreItems }}

            of {{ itemsTotalCount }}

            {% if itemsTotalCount > items|length|add:moreItems %}
            <a href="/search?moreItems={{ moreItems|add:maxItems }}&searchString={{ searchString|urlencode }}&topicId={{ topic.id }}">
                Next&gt;</a>
            {% endif %}
        </p>
    </td>
</tr>

<tr>
    <td>
        {% for item in items %}
        <p>
            {% with itemUrl=item.url %}
            {% if itemUrl %}
            <a href="{{ itemUrl }}" target="umdl_regntpro">{{ item.item }}</a><br/>
            {% else %}
            {{ item.item }}<br/>
            <em>(This item is not yet available online.)</em><br/>
            {% endif %}
            {% endwith %}
            {% if item.dateCalc %}
            Date: {{ item.dateCalc }}
            <br/>
            {% else %}
            {% comment "Intentionally left blank" %}{% endcomment %}
            {% endif %}
            Volume:
            {% if not item.volume %}
            [no volume];
            {% else %}
            {{ item.volume.title|default_if_none:"[untitled volume]" }};
            {% endif %}
            Page: {{ item.page|default_if_none:"n/a" }}
            <br/>
            {% for itemNote in item.item.itemNotes.all %}
            {% if itemNote.type %}
            {{ itemNote.type }}:
            {% if itemNote.text %}
            {{ itemNote.text }}{% if itemNote.referencedTopic %},
            {% endif %}
            {% endif %}
            {% if itemNote.referencedTopic %}
            <a href="/search?topicId={{ itemNote.referencedTopic.id }}">
                {{ itemNote.referencedTopic }}</a>
            {% endif %}
            <br/>
            {% endif %}
            {% endfor %}
        </p>
        {% endfor %}
    </td>
</tr>
{% endif %}
{% include "main/footer.html" %}
